<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>weather app</h1>
    <!-- {{city}} <br>
    {{temp}} <br> 
    {{description}} <br>
    {{icon}} <br> -->

    
    {% for i in city_data  %}
        {{i.city}} <br>
        <img src="http://openweathermap.org/img/w/{{ i.icon  }}.png" alt="Image"> <br>
        {{i.temp}} <br>
        {{ i.description}} <br>
        <hr>
    {% endfor %}
        
</body>
</html>